@font-face {
    font-family:"Source Code Pro";
    src: url("../ttf/SourceCodePro-Regular.ttf") format("ttf");
    font-weight:400;   
}

:root {
    --font-family:"Source Code Pro",monospace;
    --background-color:#212121;
    --active-color:#f2f2f2;
    --disabled-color:#21839150;
}

.clock-container {
    background:var(--background-color);
}

.clock-letter {
    font-family:var(--font-family);
    letter-spacing:0.2em;
    color:var(--disabled-color);
    transition:color 200ms linear;
}

.clock-letter.active {
    color:var(--active-color);
}

.clock-row {
    display:flex;
    flex-direction:row;
}

.clock-letter {
    display:inline-block;
}