
::-webkit-scrollbar {
    display: none;
}

::selection {
    display: none;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto !important;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--body-background-color);
    background-image: var(--body-background);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
}

.visibly-hidden {
    visibility: hidden !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 0px !important;
    height: 0px !important;
}

.notextselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nopointerevents {
    pointer-events: none;
}

@media only screen and (inverted-colors) {
    .no-inversion {
        -webkit-filter: invert(1);
        filter: invert(1)
    }
}


:root {
    --section-content-less-1440-width: 100%;
    --section-content-less-640-width: 100%;
    --section-header-less-1440-width: 80%;
    --section-header-less-640-width: 100%;
    --section-separator-height: 8px;
}

.section {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
}

.section .section-content {
    height: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.section .section-content.dynamic-width {
    width: 80%;
}

.section .section-content.fixed-width {
    width: var(--section-fixed-width, 1440px);
}

.section .section-header {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    width: var(--section-header-desktop-width, 60%);
    text-align: -webkit-center;
    text-align: center;
}

.section .section-body {
    display: flex;
    position: relative;
    width: 100%;
}

.section-separator {
    background: var(--body-background);
    width: 100%;
    height: var(--section-separator-height);
}

.horizontal-section-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
}

@media only screen and (max-width:1440px) {
    .section .section-content.fixed-width {
        width: var(--section-content-less-1440-width);
    }

    .section .section-header {
        width: var(--section-header-less-1440-width, 80%);
    }
}

@media only screen and (max-width:640px) {
    .section .section-content.fixed-width {
        width: var(--section-content-less-640-width);
    }

    .section .section-header {
        width: var(--section-header-less-640-width, 100%);
    }
}
